@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); 
	font-weight: 400;
	font-style: normal; 
}

* { font-family: 'Escoredream'; }

.news-wrap {
	padding: 40px 0;
	background-color: #F5F7FC;
}

.latest-news, .info-notice { background-color: #F5F7FC; }

h2 span { font-weight: 400; }

.tit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tit a { font-size: 30px; font-weight: 300; }

.latest-news .tab {
	display: flex;
	gap: 12px;
	margin-bottom: 10px;
}

.latest-news .tab button {
	font-size: 16px;
	padding: 4px;
}

.latest-news .tab .on { font-weight: 700; }

.latest-news ul {
	padding: 20px;
	border: 1px solid #D0D5DD;
	border-radius: 12px;
	font-size: 17px;
}
.latest-news ul li:first-child { padding: 0 0 15px; }
.latest-news ul li:last-child { padding: 15px 0 0 ; border: none; }
.latest-news ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #D0D5DD;
	padding: 15px 0;
	
}

.latest-news ul li a {
	width: calc(100% - 100px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.latest-news ul li span { color:#717171; }

.info-notice .function {
	display: flex;
	align-items: center;
}

.info-notice .tit .prev {
	width: 30px;
	height: 30px;
	border: 1px solid #D9DADF;
	border-radius: 100%;
	text-align: center;
	color: #D9DADF;
	margin-right: 10px;
}
.info-notice .tit .next {
	width: 30px;
	height: 30px;
	border: 1px solid #777;
	border-radius: 100%;
	text-align: center;
	color: #777;
	margin-right: 20px;
}

.info-notice .tit .page-info { margin-right: 40px; }

.info-notice .slide-item-area {
	height: 220px;
	overflow: hidden;
	display: flex;
}

.info-notice .slide-item-area .item {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	padding: 16px 12px;
	border-top: 1px solid #D9DADF;
	border-bottom: 1px solid #D9DADF;
	margin-right: 20px;
}

.info-notice .slide-item-area .item .sub-heading {
	font-size: 15px;
	margin: 0 0 4px;
	padding: 0 28px 0 0;
}

.info-notice .slide-item-area .item .heading {
	margin: 12px 0 16px;
}

.info-notice .slide-item-area .item .img-mask {
	width: 100px;
	height: 30px;
	position: absolute; bottom: 25px;
	/* background-color: aqua; */
}

.info-notice .slide-item-area .item .cont {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    overflow: hidden;
}

.popular-policies {
	margin: 40px 0;
}

.popular-policies .tab {
	display: flex;
	padding: 4px;
	gap: 10px;
	margin-bottom: 20px;
	overflow: scroll;
	-ms-overflow-style: none;
}

.popular-policies .tab::-webkit-scrollbar{
  display:none;
}

.popular-policies .tab a { white-space: nowrap; }
.popular-policies .tab .on { font-weight: 700; }

.popular-policies .policy-area {
	
}
.popular-policies .policy-area .item {
	padding: 16px 12px;
	border-top: 1px solid #D9DADF;
	border-bottom: 1px solid #D9DADF;
}